
@page "/operacionesstock"

@*@inject ToastService toastService*@
@using System.Text.Json

@inherits PageOperacionesStockBase
<br />
<div class="form-inline">
    <h4 class="mt-5 text-left">
        Operaciones de Stock a Realizar
        <small class="text-info"> <strong>@selectedTire?.Descrip</strong></small>
    </h4>


</div>
<hr />
<EditForm Model="@stockCabacera" OnSubmit="@Submit">
    <DataAnnotationsValidator />
    <div class="form-row">
        <div class="form-group col-md-8">
            <label class="col-form-label">Operaciones de Stock :</label>
            <ComboTipoo OnSelectedTireChanged="@SelectedTireChanged"></ComboTipoo>
        </div>
        <div class="form-group col-md-2">
            <label class="col-form-label">Pedido :</label>
            <SfNumericTextBox TValue="int?" @bind-Value="@stockCabacera.PEDIDO"></SfNumericTextBox>
            <ValidationMessage For="@(() => stockCabacera.PEDIDO)"></ValidationMessage>
        </div>
        <div class="form-group col-md-2">
            <label class="col-form-label">O. Compra :</label>
            <SfNumericTextBox TValue="int?" @bind-Value="@stockCabacera.OCOMPRA"></SfNumericTextBox>
            <ValidationMessage For="@(() => stockCabacera.OCOMPRA)"></ValidationMessage>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label">Deposito de Salida: :</label>
            <ComboDeposito EsSoloLectura="true"></ComboDeposito>
            <ValidationMessage For="@(() => stockCabacera.TIPOO)"></ValidationMessage>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label">Deposito de Ingreso: :</label>
            <ComboDeposito EsSoloLectura="true"></ComboDeposito>
            <ValidationMessage For="@(() => stockCabacera.TIPOO)"></ValidationMessage>
        </div>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Probar</button>
    </div>
</EditForm>

@*<SfButton @onclick="@OpenDialog">Open Modal Dialog</SfButton>

    <SfDialog Width="250px" IsModal="true" @bind-Visible="@IsVisible">
        <DialogEvents OnOverlayClick="@OnOverlayclick">
        </DialogEvents>
        <DialogTemplates>
            <Content> This is a modal dialog </Content>
        </DialogTemplates>
    </SfDialog>*@

