
@page "/operacionesstock"

@*@inject ToastService toastService*@
@using System.Text.Json

@inherits PageOperacionesStockBase
<div class="form-inline">
    <h4 class="mt-5 text-left">
        Operaciones de Stock a Realizar
        <small class="text-info"> <strong>@selectedTire?.Descrip</strong></small>
    </h4>


</div>
<hr />
<EditForm Model="@stockCabacera" OnSubmit="@Submit">
    <DataAnnotationsValidator />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label">Operaciones de Stock :</label>
            <ComboTipoo OnSelectedTireChanged="@(async(tire)=> await SelectedTireChanged(tire))"></ComboTipoo>
        </div>
        <div class="form-group col-md-3">
            <label class="col-form-label">Orden Fabricación :</label>
            <SfNumericTextBox TValue="int?" @bind-Value="@stockCabacera.CG_ORDF"></SfNumericTextBox>
            <ValidationMessage For="@(() => stockCabacera.CG_ORDF)"></ValidationMessage>
            <SfButton type="button" IconCss="e-btn-sb-icons e-add-icon" CssClass="e-small e-round" IsPrimary="true"
                      ></SfButton>
        </div>
        <div class="form-group col-md-3">
            <label class="col-form-label">O. Compra :</label>
            <SupplyChain.Pages.Shared.BuscadorOCompra EsSoloLectura="@OCSoloLectura" 
                                                      HabilitaBotonBusqueda="@OCDeshabilitaBoton"
                                                      Tipoo="@selectedTire?.Tipoo">
            </SupplyChain.Pages.Shared.BuscadorOCompra>
            <ValidationMessage For="@(() => stockCabacera.OCOMPRA)"></ValidationMessage>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="col-form-label">Nro. Vale:</label>
            <SfNumericTextBox TValue="int" @bind-Value="@stockCabacera.VALE"></SfNumericTextBox>
            <ValidationMessage For="@(() => stockCabacera.VALE)"></ValidationMessage>
        </div>
        <div class="form-group col-md-2">
            <label class="col-form-label">Fecha Vale:</label>
            <div id="datepicker-control">
                <SfDatePicker TValue="DateTime"  @bind-Value ="stockCabacera.FE_MOV" Placeholder="Seleccionar Fecha..."></SfDatePicker>
            </div>
            <ValidationMessage For="@(() => stockCabacera.VALE)"></ValidationMessage>
        </div>
        <div class="form-group col-md-2">

            
            <label class="col-form-label">Pedido :</label>
            <SfNumericTextBox TValue="int?" @bind-Value="@stockCabacera.PEDIDO"></SfNumericTextBox>
            <ValidationMessage For="@(() => stockCabacera.PEDIDO)"></ValidationMessage>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label">Deposito de Salida: :</label>
            <ComboDeposito EsSoloLectura="false"></ComboDeposito>
            <ValidationMessage For="@(() => stockCabacera.TIPOO)"></ValidationMessage>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label">Deposito de Ingreso: :</label>
            <ComboDeposito EsSoloLectura="false"></ComboDeposito>
            <ValidationMessage For="@(() => stockCabacera.TIPOO)"></ValidationMessage>
        </div>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</EditForm>

@*<SfButton @onclick="@OpenDialog">Open Modal Dialog</SfButton>

    <SfDialog Width="250px" IsModal="true" @bind-Visible="@IsVisible">
        <DialogEvents OnOverlayClick="@OnOverlayclick">
        </DialogEvents>
        <DialogTemplates>
            <Content> This is a modal dialog </Content>
        </DialogTemplates>
    </SfDialog>*@

